{% extends 'layouts/base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Name: {{ room.name }}</h1>
    <p>
        <a href="#">Edit</a>
        <a href="#">Back</a>
    </p>

    <p><a href="#">New Message</a></p>
{% endblock %}
